@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  background: #333;
}

.main-content {
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 0 auto;
  width: 650px;
  min-width: 50vw;
  max-width: 90vw;
  background: #eee;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}
