/* some colors */
$mint = #4cb69f
$charcoal = #373737
$copper = #bd8c7d
$slate = #272727

/* clrs css */
$navy = #001f3f
$blue = #0074d9
$aqua = #7fdbff
$teal = #39cccc
$olive = #3d9970
$green = #2ecc40
$lime = #01ff70
$yellow = #ffdc00
$orange = #ff851b
$red = #ff4136
$maroon = #85144b
$fuchsia = #f012be
$purple = #b10dc9
$black = #111111
$gray = #aaaaaa
$silver = #dddddd
$white = #ffffff


.navy
  color $navy
.blue
  color $blue
.aqua
  color $aqua
.teal
  color $teal
.olive
  color $olive
.green
  color $green
.lime
  color $lime
.yellow
  color $yellow
.orange
  color $orange
.red
  color $red
.maroon
  color $maroon
.fuchsia
  color $fuchsia
.purple
  color $purple
.black
  color $black
.gray
  color $gray
.silver
  color $silver
.white
  color $white